@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255, 0.96);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  height:100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/eonet_logo.png);
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-size: cover;
}

.eventCategory {
  background: #f0f0f0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a:hover,
.control:hover {
  color: orange;
  cursor: pointer;
}
